<div class="seller-auth">
    <div class="signup">
       <h2>Seller Sign-Up</h2>
       <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signUpSumbitForm(sellerSignUp.value)">
        <input type="text" class="input-form" ngModel name="name" placeholder="Enter Name"/>
        <input type="password"  class="input-form" ngModel name="password" placeholder="Enter Password"/>
        <input  type="text"  class="input-form" ngModel name="email" placeholder="Enter Email"/>
        <button class="form-btn">SignUp</button>
       </form>
    </div>
</div>
